/* ===== Geral ===== */
body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1c1c1c;
    color: rgba(250, 235, 215, 0.9);
}

/* ===== Hero ===== */
#hero {
    height: 100vh;
    background: radial-gradient(circle at top, #3c7d91dc, rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-size: 2.8rem;
}


#container {
    width: min(100%, 1850px);
    padding: 40px;
    margin: 5px auto;
    background: radial-gradient(circle at right, #45899edc, rgb(29, 42, 46));
    border-radius: 5px;
}

/* títulos */
#container h2 {
    text-align: center;
    margin-top: 25px;
}

/* listas */
ul {
    margin-left: 35px;
    margin-bottom: 20px;
}

/* código */
code {
    background-color: #111;
    color: #9fd3ff;
    padding: 15px;
    display: block;
    border-radius: 8px;
    border-left: 4px solid #6fa8dc;
}

/* imagens */
img {
    max-width: 700px;
    width: 100%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}


#container:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


@media (max-width: 768px) {
    #container {
        padding: 20px;
    }

    #hero h1 {
        font-size: 2rem;
    }
}